input[type=number] {
    width: 3em;
}

h4 {
    margin: 0.5em 0;
}

h5 {
    margin: 0.5em;
}

.panel {
    margin-right: 1em;
}

.panel:last-child {
    margin-right: 0;
}

ul {
    margin: 0;
    padding-left: 1em;
}